<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
      }

      table caption {
        font-size: 1.5em;
        margin: 0.5em 0 0.75em;
      }

      table tr {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        padding: 0.35em;
      }

      table th,
      table td {
        padding: 0.625em;
        text-align: center;
      }

      table th {
        font-size: 0.85em;
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }

      @media screen and (max-width: 600px) {
        table {
          border: 0;
        }

        table caption {
          font-size: 1.3em;
        }

        table thead {
          border: none;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }

        table tr {
          border-bottom: 3px solid #ddd;
          display: block;
          margin-bottom: 0.625em;
        }

        table td {
          border-bottom: 1px solid #ddd;
          display: block;
          font-size: 0.8em;
          text-align: right;
        }

        table td::before {
          /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
          content: attr(data-label);
          float: left;
          font-weight: bold;
          text-transform: uppercase;
        }

        table td:last-child {
          border-bottom: 0;
        }
      }

      /* general styling */
      body {
        font-family: "Open Sans", sans-serif;
        line-height: 1.25;
      }
      h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>student detail</h1>
    <table class="w3-table">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>phone</th>
        <th>email</th>
        <th>city</th>
        <th>course</th>
        <th>sports</th>
      </tr>
      <% for (var i =1; i <=data.length; i++ ) { %>
      <tr>
        <td><%= data[i-1].st_id %></td>
        <td><%= data[i-1].uname %></td>
        <td><%= data[i-1].phone %></td>
        <td><%= data[i-1].email %></td>
        <td><%= data[i-1].city %></td>
        <td><%= data[i-1].cs_name %></td>
        <td><%= data[i-1].sports %></td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
